body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(ellipse at 50% 80%, #7e2151, #221818, black);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 20px;
  
  top: -10px;
  width: 100%;
}

.logo-img {
  width: 5rem;
  z-index: 10;
  /* Adjust margin as needed */
}

.plus-img {
  width: 2rem;
  z-index: 10;
  margin: 0 20px; /* Adjust margin as needed */
}

.text-container {
  display: flex;
  flex-direction: column; /* Adjusted for vertical alignment */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem; /* Added margin bottom for spacing */
}

.paragraph {
  color: #ffffff;
  text-align: center;
  max-width: 600px; /* Adjust as needed */
  padding: 0 1rem; /* Added padding for better readability */
}

.bg-container {
  display: grid;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: minmax(20px, 1fr);
  background-size: 20px 20px;
  z-index: -1;
}

.background {
  /* Define background styles as needed */
}
